<header>
    <div class="text-center mt-5">
        <!-- <div class="col-md-2 mb-2 text-center">
            <a href="{{ .Site.BaseURL }}">
            </a>
        </div> -->
        <!-- <div class="col-md-12 text-center"> -->
            
            <!-- <img class="rounded mb-3" src="/img/ardianta.jpg" width="64" /> -->
            <h1>
                <a href="{{ .Site.BaseURL }}">
                    <img src="/img/ardianta-logo.svg" height="120"/>
                </a>
                <!-- <b><a href="{{ .Site.BaseURL }}" class="text-dark"> {{ .Site.Title }}</a></b> -->
            </h1>
            <div class="text-secondary">
                <a href="/about">About</a>
                |
                <a href="/project">Project</a>
                |
                <a href="/post/index.xml">RSS</a>
            </div>
            <!-- <p class="small">{{ .Site.Params.description }}</p> -->
        <!-- </div> -->
    </div>
</header>