<title>{{ .Title }}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- SEO TAG -->
{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/opengraph.html" . }}
<meta content='summary_large_image' name='twitter:card' />
<meta content='@ardiantapargo' name='twitter:site' />
<meta content='@ardiantapargo' name='twitter:creator' />
<meta property='og:image' content='{{ .Site.BaseURL }}{{ .Params.Image }}'
/>
<meta content='id_ID' property='og:locale' />
<meta content='ms_MY' property='og:locale:alternate' />
<meta content='en_US' property='og:locale:alternate' />

<!-- <meta content='152759108115365' property='fb:app_id' /> -->
<!-- <meta content='petanikode' property='fb:pages' /> -->
<!-- <meta content='143461015837500' property='fb:pages' /> -->
<meta content='ardianta.pargo' property='fb:profile_id' />

<meta property="article:author" content="https://web.facebook.com/ardianta.pargo" />
<!-- <meta property="article:publisher" content="https://web.facebook.com/petanikode" /> -->

<!-- /SEO TAG -->

<meta name="p:domain_verify" content="045746d704fe9ae94f6f3e87acc80385"/>

<link rel="icon" href="/img/ardianta.jpg" />

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />


{{ if not .Site.IsServer }}
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'> 
{{ template "_internal/google_analytics.html" . }}
{{ end }}