<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" async src="/js/lazysizes.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/twemoji.min.js"></script> -->

<!-- Initialize Twitter Emoji -->
<!-- <script>
    // apply twitter emoji
    var article = document.querySelector("article");
    twemoji.parse(article, {
        base: "/img/icon/twemoji/",
        // className: "emoji",    // default "emoji"
        ext: ".svg",
        callback: function (icon, options) {
            return '/img/icon/twemoji/' + icon + '.svg';
        }
    });
</script> -->