<nav class="sticky top-0 backdrop-blur bg-white/80 py-2 border-b px-4 lg:px-0">
  <div class="container mx-auto max-w-6xl flex items-center justify-between">
    <a href="{{ site.BaseURL }}">
      <img src="/logo.png" class="h-8" alt="Logo">
    </a>

    <button class="md:hidden inline-flex items-center p-2 bg-slate-100 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
      </svg>      
    </button>

    <div class="gap-2 md:flex hidden font-medium">
      <a href="/project/" class="px-4 py-2 hover:text-indigo-600">Project</a>
      <a href="/post/" class="px-4 py-2 hover:text-indigo-600">Garden</a>
      <a href="/about/" class="px-4 py-2 hover:text-indigo-600">About</a>
    </div>

    <a href="mailto:web@ardianta.com" class="py-2 px-4 hidden md:inline-flex items-center gap-2 font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
      </svg>
      Get in touch!</a>
  </div>
</nav>